.delete-popup {
  display: flex;
  align-items: center;
  position: fixed;
  height: 10rem;
  top: 40%;
}

.delete-popup h2 {
  text-align: center;
  font-size: 4;
  margin: 0;
}

.box {
  background-color: rgb(223, 71, 89);
  color: white;
}

.btn-container {
  justify-content: center;
}

.delete-popup .btn {
  width: 10rem;
}

@media (min-width: 768px) {
  .delete-popup {
    width: 20rem;
    left: calc(50% - 10rem);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}
