.delete-popup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 5rem;
  top: 40%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.delete-popup h2 {
  text-align: center;
  font-size: 6;
  margin: 0;
}

.success {
  background-color: #1e478a;
  color: white;
}

@media (min-width: 768px) {
  .delete-popup {
    width: 15rem;
    left: calc(50% - 10rem);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}
