* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.main-carousel-img {
  height: 16rem;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}

.carousel {
  height: 25rem;
  width: 80%;
  margin: auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.card-img-top {
  width: 100%;
  height: auto;
  max-width: 20rem;
  max-height: 20rem;
  object-fit: cover;
}

.card-img-container {
  height: 20.5rem;
  align-items: center;
  margin: 0;
}

.main-product-card:hover {
  border: 0.1rem solid #537adc;
}

#adminmenu {
  color: rgb(70, 69, 69);
}

.blue-button {
  background-color: #648dc3;
}

.blue-button:focus,
.blue-button:hover {
  background-color: #4b74aa;
}

.red-button {
  background-color: rgb(238, 103, 103);
}

.red-button:hover,
.red-button:focus {
  background-color: rgb(190, 68, 68);
}

.red-badge {
  background-color: rgb(238, 103, 103) !important;
}

.green-badge {
  background-color: rgb(59, 145, 66) !important;
}

.product-card-name {
  font-size: 1rem;
  color: black;
}

.product-card-description {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.product-row {
  margin: 0;
  padding: 0;
}

.sellers-page-filter {
  width: 40%;
  margin: auto;
}

.home-sidebar {
  position: sticky;
  top: 0;
}

@media (max-width: 640px) {
  .card-img-top {
    width: 100%;
    height: auto;
    max-height: 8.5rem;
    object-fit: cover;
  }

  .card-img-container {
    height: 8.5rem;
    align-items: center;
    margin: auto;
  }

  .product-card-description,
  .product-card-name,
  .product-title {
    font-size: 0.9rem;
    margin: 0;
    padding: 0.1rem;
  }
}

.header-nav-link {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}