* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.main-carousel-img {
  height: 16rem;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}

.carousel {
  height: 25rem;
  width: 80%;
  margin: auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.card-img-top {
  width: 100%;
  height: auto;
  max-width: 20rem;
  max-height: 20rem;
  object-fit: cover;
}

.card-img-container {
  height: 20.5rem;
  align-items: center;
  margin: 0;
}

.main-product-card:hover {
  border: 0.1rem solid #537adc;
}

#adminmenu {
  color: rgb(70, 69, 69)
}

.blue-button {
  background-color: #648dc3;
  box-shadow: none;
}

.blue-button:focus {
  background-color: #7d9bc1;
}

.blue-button:hover {
  background-color: #7d9bc1;
}

.product-card-name {
  font-size: 1rem;
  color: black;
}

.product-card-description {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.product-row {
  margin: 0;
  padding: 0;
}

.map-store-container {
  overflow: visible;
}

/* .map-store-image {
  width: auto;
  height: 12rem;
  object-fit: cover;
} */
.map-store-image {
  width: 100%;
  height: auto;
  /* max-width: 14rem; */
  max-height: 14rem;
  object-fit: cover;
}

.sellers-page-filter {
  width: 40%;
  margin: auto;
}

@media (max-width: 600px) {
  .card-img-container {
    height: auto;
    width: 100%;
    /* max-height: 30rem !important; */
    align-items: center;
    margin: 0;
  }
  .mystores-container {
    width: 60% !important;
  }
  .mystores-blue-button {
    width: auto;
  }

  .sellers-page-filter {
    width: 80%;
  }
}

.home-sidebar {
  position: sticky;
  top: 0;
}

