* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.main-carousel-img {
  width: auto;
  height: auto;
  max-height: 13rem;
  margin: 0 auto;
}

.main-carousel-img-container {
  display: flex;
  justify-content: center;
  height: 15.5rem;
  align-items: center;
  margin: auto;
}

.carousel a {
  margin: 0 auto;
}

.carousel {
  display: flex;
  justify-content: center;
  height: 23.5rem;
  margin: auto;
}

.main-carousel-container {
  width: 50%;
  height: 25.5rem;
}

.main-carousel {
  width: 90%;
  height: 25rem;
}

.reviews-carousel {
  width: 25%;
}

.sellers-carousel {
  width: 25%;
}

.main-product-card:hover {
  box-shadow: rgba(114, 112, 112, 0.476) 0px 3px 12px;
}

#adminmenu {
  color: rgb(70, 69, 69);
}

.blue-button {
  background-color: #648dc3;
}

.seller-store-button {
  background-color: #648dc328;
  color:rgb(70, 69, 69);
  width: 70%;
  margin-bottom: 0.3rem;
  box-shadow: none;
}

.seller-store-button:focus,
.seller-store-button:hover  {
  background-color: #648dc38a;
  color:rgb(70, 69, 69);
}

.blue-button:focus,
.blue-button:hover {
  background-color: #4b74aa;
}

.red-button {
  background-color: rgb(238, 103, 103);
}

.red-button:hover,
.red-button:focus {
  background-color: rgb(190, 68, 68);
}

.red-badge {
  background-color: rgb(238, 103, 103) !important;
}

.green-badge {
  background-color: rgb(59, 145, 66) !important;
}

.product-card-name {
  font-size: 1rem;
  color: black;
}

.product-card-description {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.product-row {
  margin: 0;
  padding: 0;
}

.sellers-page-filter {
  width: 40%;
  margin: auto;
}

.home-sidebar {
  position: sticky;
  top: 0;
}

.seller-image:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.home-sidebar-container {
  width: 14rem;
}

.card-img-top {
  width: 100%;
  height: auto;
  max-height: 17rem;
  object-fit: cover;
}

.card-img-container {
  display: flex;
  justify-content: center;
  height: 17.5rem;
  align-items: center;
  margin: auto;
}

.main-product-card {
  width: 100%;
  height: auto;
  min-width: 15rem;
  max-width: 22rem;
}

@media (max-width: 767px) {
  .home-sidebar-container {
    width: 100%;
  }
}

@media (min-width: 767) and (max-width: 992px) {
  .home-sidebar-container {
    width: 9rem;
  }

  .main-carousel {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .main-product-card {
    width: 100%;
    height: auto;
    min-width: 11rem;
    max-width: 16.5rem;
    min-height: 22rem;
  }

  .card-img-top {
    width: 100%;
    height: auto;
    max-height: 12.5rem;
    object-fit: cover;
  }

  .card-img-container {
    height: 13rem;
    align-items: center;
    margin: auto;
  }

  .product-card-description,
  .product-card-name,
  .product-title {
    font-size: 0.9rem;
    margin: 0;
    padding: 0 0.3rem;
  }
}
