.home-searchbox {
  justify-content: center;
  height: 3rem;
  background-color: #495b7a;
}

.home-categories-bar {
  border-bottom: 0.5px solid #818ca1;
}

.home-categories-link {
  color: #32415c;
}

.home-sidebar h5 {
  color: #495b7a;
}

.sidebar-form-check {
  color: #495b7a;
}

.home-load-button-container {
  justify-content: center;
}

.home-button {
  width: 200px;
  margin-top: 10px;
}



